In [3]:
import pandas as pd
import numpy as np

In [4]:
org_finan4 = pd.read_csv("C:/Users/mrg07/Desktop/액티브 중소법인 재무보유_외감.csv")

In [5]:
# 불필요 열 제거

no_col = ['CMP_NM1', 'CMP_ENM', 'CMP_SCL', 'PBCO_GB', 'PSN_CORP_GB', 'IND_CD_ORDR', 'IND_CD2', 'IND_CD3', 'PB_ORG_TYP', 'HDOF_CMP_CD', 'MN_BIZ_CONT', 'HOMEPAGE_URL', 'CEO_NM', 'LIST_CD', 'LIST_DATE', 'NATN_NM', 'BZ_TYP']
org_finan4 = org_finan4.drop(no_col, axis=1)

In [6]:
# 산업코드 인코딩

indust = np.trunc(org_finan4['IND_CD1']/1000)

org_finan4['Industry'] = np.nan

org_finan4.Industry[np.where((indust >= 1) & (indust <= 3))[0]] = 'A'
org_finan4.Industry[np.where((indust >= 4) & (indust <= 8))[0]] = 'B'
org_finan4.Industry[np.where((indust >= 10) & (indust <= 34))[0]] = 'C'
org_finan4.Industry[np.where(indust == 35)[0]] = 'D'
org_finan4.Industry[np.where((indust >= 36) & (indust <= 39))[0]] = 'E'
org_finan4.Industry[np.where((indust >= 41) & (indust <= 42))[0]] = 'F'
org_finan4.Industry[np.where((indust >= 45) & (indust <= 47))[0]] = 'G'
org_finan4.Industry[np.where((indust >= 49) & (indust <= 52))[0]] = 'H'
org_finan4.Industry[np.where((indust >= 55) & (indust <= 56))[0]] = 'I'
org_finan4.Industry[np.where((indust >= 58) & (indust <= 63))[0]] = 'J'
org_finan4.Industry[np.where((indust >= 64) & (indust <= 66))[0]] = 'K'
org_finan4.Industry[np.where(indust == 68)[0]] = 'L'
org_finan4.Industry[np.where((indust >= 70) & (indust <= 73))[0]] = 'M'
org_finan4.Industry[np.where((indust >= 74) & (indust <= 76))[0]] = 'N'
org_finan4.Industry[np.where(indust == 84)[0]] = 'O'
org_finan4.Industry[np.where(indust == 85)[0]] = 'P'
org_finan4.Industry[np.where((indust >= 86) & (indust <= 87))[0]] = 'Q'
org_finan4.Industry[np.where((indust >= 90) & (indust <= 91))[0]] = 'R'
org_finan4.Industry[np.where((indust >= 94) & (indust <= 96))[0]] = 'S'
org_finan4.Industry[np.where((indust >= 97) & (indust <= 98))[0]] = 'T'
org_finan4.Industry[np.where(indust == 99)[0]] = 'U'

C:\Users\mrg07\AppData\Local\Temp\ipykernel_16200\3470104722.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  org_finan4.Industry[np.where((indust >= 1) & (indust <= 3))[0]] = 'A'

In [7]:
# (주) (유) (자) 회사 선별

org_finan4['Stock_OX'] = org_finan4['CMP_PFIX_NM'].fillna('') + org_finan4['CMP_SFIX_NM'].fillna('')
org_finan4 = org_finan4.drop(["CMP_PFIX_NM","CMP_SFIX_NM"], axis=1)

In [8]:
# target변수 0으로 설정

org_finan4['target'] = 0

In [9]:
org_finan4.head()

,BIZ_NO,HDOF_BR_GB,FR_IVST_CORP_YN,VENT_YN,IND_CD1,MDSCO_PRTC_YN,ESTB_DATE,ESTB_GB,EMP_CNT,Industry,Stock_OX,target
0,1138111739,1,N,N,47712.0,N,19660419.0,1,43.0,G,(주),0
1,2078132193,1,N,N,15190.0,N,19910806.0,1,35.0,C,(주),0
2,1318167565,1,N,N,49212.0,N,20011030.0,1,149.0,H,(주),0
3,5048128251,1,N,N,30391.0,N,19990112.0,1,75.0,C,(주),0
4,1098164260,1,N,N,46800.0,N,20000531.0,1,3.0,G,(주),0

In [10]:
#결측치 대체

In [13]:
active = org_finan4

In [14]:
#신생기업여부 열 생성

active['New'] = 0
active['New'][np.where(np.trunc(2023 - (active['ESTB_DATE'])/10000) < 7)[0]] = 2
active['New'][np.where(np.trunc(2023 - (active['ESTB_DATE'])/10000) >= 7)[0]] = 1
        
#미분류0
#신생2
#오래된기업1

C:\Users\mrg07\AppData\Local\Temp\ipykernel_16200\3496034384.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  active['New'][np.where(np.trunc(2023 - (active['ESTB_DATE'])/10000) < 7)[0]] = 2
C:\Users\mrg07\AppData\Local\Temp\ipykernel_16200\3496034384.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  active['New'][np.where(np.trunc(2023 - (active['ESTB_DATE'])/10000) >= 7)[0]] = 1

In [15]:
active_ind = active.groupby("Industry").mean()
active_ind = active_ind.reset_index()

C:\Users\mrg07\AppData\Local\Temp\ipykernel_16200\1643705827.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  active_ind = active.groupby("Industry").mean()

In [16]:
#직원수의 결측치를 산업별평균직원수로 대체

for i in range(len(active)):
    if active["EMP_CNT"].isnull()[i] == True:
        active["EMP_CNT"][i] = active_ind[active["Industry"][i] == active_ind["Industry"]]["EMP_CNT"]

C:\Users\mrg07\AppData\Local\Temp\ipykernel_16200\3245440328.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  active["EMP_CNT"][i] = active_ind[active["Industry"][i] == active_ind["Industry"]]["EMP_CNT"]

In [17]:
# 결측치 있는 열 삭제 (다른 열에 반영 완료)

cols = ["IND_CD1", "ESTB_DATE"]
active = active.drop(cols, axis=1)

In [18]:
# Stock_OX 열 결측치는 미분류로 대체

active['Stock_OX'] = active['Stock_OX'].fillna("미분류")

In [19]:
active.isnull().sum()

BIZ_NO              0
HDOF_BR_GB          0
FR_IVST_CORP_YN     0
VENT_YN             0
MDSCO_PRTC_YN       0
ESTB_GB             0
EMP_CNT             0
Industry           11
Stock_OX            0
target              0
New                 0
dtype: int64

In [20]:
active.head()

,BIZ_NO,HDOF_BR_GB,FR_IVST_CORP_YN,VENT_YN,MDSCO_PRTC_YN,ESTB_GB,EMP_CNT,Industry,Stock_OX,target,New
0,1138111739,1,N,N,N,1,43.0,G,(주),0,1
1,2078132193,1,N,N,N,1,35.0,C,(주),0,1
2,1318167565,1,N,N,N,1,149.0,H,(주),0,1
3,5048128251,1,N,N,N,1,75.0,C,(주),0,1
4,1098164260,1,N,N,N,1,3.0,G,(주),0,1

In [15]:
active.to_csv("C:/Users/mrg07/Desktop/액티브 외감 eda.csv", encoding='cp949')